@charset "UTF-8";

section.page_head_title {
    padding: 160px 0 120px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

section.page_head_title h1 span {
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    margin-right: 30px;
}

section.page_head_title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
}

.page_contents_inner {
    max-width: 900px;
    margin: 0 auto;
}

section.page_contents {
    padding: 100px 0;
}

h2.post_title {
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.post_date {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
    border-left: 1px solid;
    padding-left: 10px;
}

section.post_contents p {
    font-size: 1.5rem;
    line-height: 36px;
}

.contact_thanks_main span {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 60px;
}

.contact_thanks_text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 500;
}

.back_top {
    margin: 60px auto 0;
    background: #000;
    display: block;
    padding: 15px 40px;
    text-align: center;
    width: max-content;
    border-radius: 100px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.back_top:hover {
    padding: 15px 50px;	
}

.back_top span {
    font-size: 1.5rem;
    display: block;
    position: relative;
    z-index: 999;
    color: #FABE00;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.back_top:hover span {
    color: #fff;
}

.back_top:after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgba(234, 85, 4, 1);
    left: 0;
    top: 0;
	border-radius: 100px;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	opacity: 0;
}

.back_top:hover:after {
	opacity: 1;
	width: 100%;
}

.pp_head {
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 30px;
}

.pp_title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.pp_text {
    margin: 30px 30px 50px;
    font-weight: 500;
    line-height: 26px;
    font-size: 1.4rem;
}

.error {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 30px;
}

@media screen and (max-width: 480px) {

section.page_head_title {
	padding: 80px 8% 40px;
}

section.page_head_title h1 {
    font-size: 1.4rem;
    justify-content: space-between;
}

section.page_head_title h1 span {
    font-size: 3rem;
    margin-right: 3%;
    width: 50%;
    text-align: left;
}

section.page_contents {
    padding: 50px 8%;
}

.pp_head {
    font-size: 1.2rem;
    line-height: 22px;
    margin-bottom: 30px;
}

.pp_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pp_text {
    margin: 20px 5% 30px;
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 400;
}

.back_top {
    margin: 30px auto;
    width: 100%;
}
	
.error {
	font-size: 1.3rem;
	line-height: 24px;
    text-align: left;
}
h2.post_title {
    font-size: 1.6rem;
    line-height: 25px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post_date {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-left: 5px;
}

section.post_contents p {
    font-size: 1.2rem;
    line-height: 22px;
}

.back_top span {
    font-size: 1.2rem;
}

}